body {
    font-family: Arial, sans-serif;
    background: #314755; 
background: -webkit-linear-gradient(to right, #26a0da, #314755);
background: linear-gradient(to right, #26a0da, #314755);

}
form {
    margin: 0 auto;
    width: 300px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
form div + div {
    margin-top: 1em;
}
input[type="text"],
input[type="date"] {
    font: 1em sans-serif;
    width: 280px;
    box-sizing: border-box;
    border: 1px solid #999;
}
input[type="submit"] {
    font: 1em sans-serif;
    padding: 0.5em;
    color: #FFF;
    background-color: #1e90ff;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    margin-top: 1em;
}
input[type="submit"]:hover {
    background-color: #00bfff;
}
